# =========================
# PostgreSQL
# =========================
DB_HOST=database
DATABASE_NAME=postgresql
POSTGRES_USER=admin
POSTGRES_PASSWORD=testpassword
DATABASE_PORT=5432

# =========================
# Django
# =========================
DEBUG=true  # 0 = production, 1 = development
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpassword
ALLOWED_HOSTS=localhost,127.0.0.1,backend
# DJANGO_SECRET_KEY='YOUR_SECRET_KEY'   

# =========================
# Angular Frontend Port 
# =========================
FRONTEND_PORT=8282

# =========================
# Backend Port 
# =========================
BACKEND_PORT=8000