# =========================
# PostgreSQL
# =========================
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password

# =========================
# Django
# =========================
DEBUG=0  # 0 = production, 1 = development

DJANGO_SECRET_KEY='YOUR_SECRET_KEY'   

# Allowed hosts (comma-separated)
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,YOUR-HOST-IP


# Angular Frontend Port 
PORT=8282

# API Base URL for Angular to communicate with Django backend
API_BASE_URL=http://YOUR-HOST-IP:YOUR-PORT/api